streamlit
pillow
python-dotenv
langchain
langchain-community
langchain-chroma
huggingface-hub
sentence-transformers
faiss-cpu
transformers
accelerate
google-search-results
wikipedia
pysqlite3-binary
spacy
textblob
altair
requests
gTTS
en_core_web_sm
