streamlit
wikipedia
spacy
textblob
sentence-transformers
numpy
gtts
langchain
langchain-community
ctransformers
beautifulsoup4
requests
duckduckgo-search
huggingface_hub
# Optional: install googlesearch if you want Google fallback
googlesearch-python